<!-- Validation failure messages -->
<% if @post.errors.any? %>
  <% @post.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit post #<%= @post.id %>
</h1>

<hr>

<!-- Form post start -->
<form action="/update_post/<%= @post.id %>" method="post">
<!-- Form post end -->

  <!-- Label and input for title start -->
  <div class="form-group">
    <label for="title">
      Title
    </label>

    <!-- Input for title start -->
    <input type="text" id="title" name="title" class="form-control" value="<%= @post.title %>">
    <!-- Input for title end -->
  </div>
  <!-- Label and input for title end -->

  <!-- Label and input for text start -->
  <div class="form-group">
    <label for="text">
      Text
    </label>

    <!-- Input for text start -->
    <input type="text" id="text" name="text" class="form-control" value="<%= @post.text %>">
    <!-- Input for text end -->
  </div>
  <!-- Label and input for text end -->

  <button class="btn btn-block btn-outline-secondary">
    Update post
  </button>
</form>

<hr>

<a href="/posts">
  Go back
</a>
